.button {
  padding: 2px 20px;
  background-color: lightcyan;
  border: 2px solid lightblue;
  border-radius: 2px;
  color: black;
  font-weight: 600;
}

.button:hover {
  background-color: lightblue;
}

.delete-button {
  border: 0;
  background: none;
  position: relative;
  bottom: 1.5px;
  margin-left: 10px;
}

.delete-button:hover {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 2px;
}
